/**
    Author: Zane Lamb
    Date: December 13, 2020
    This file contains all the styles for the "Nefarious Dr. Z" application.
**/

*{
    margin:0;
    padding:0;
}

body{
    max-width: 710px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background-color: gainsboro;
    font-family: 'Arial Narrow Bold', sans-serif;
    border: 3px solid black;
    border-radius: 15px;
}

h1, h2{
    text-align: center;
    margin-bottom: 0.5em;
}

#gameBoard table{
    font-size: 10em;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    text-align: center;
}

#gameBoard td{
    height:200px;
    width:200px;
    color: gainsboro;
}

#gameBoard td:hover{
    cursor: pointer;
}

.both{
    border: 3px solid black;
}

.vertical{
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.horizontal{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#replay{
    padding:10px;
    font-size: 1.5em;
    margin: 1em;
    text-align: center;
    width:25%;
    margin-left: 37.5%;
    visibility: hidden;
}